{% comment %}
  Cart Item Component
  Usage: {% render 'cart-item', item: item, section_id: section.id %}
{% endcomment %}

<div class="cart-item" id="CartItem-{{ item.key }}">
  <div class="cart-item__image">
    <a href="{{ item.url }}">
      <img 
        src="{{ item.image | image_url: width: 120 }}" 
        alt="{{ item.image.alt | escape }}" 
        width="120" 
        height="120" 
        loading="lazy"
      >
    </a>
  </div>
  
  <div class="cart-item__details">
    <div class="cart-item__info">
      <h3 class="cart-item__title">
        <a href="{{ item.url }}">{{ item.product.title }}</a>
      </h3>
      
      {%- if item.product.has_only_default_variant == false -%}
        <p class="cart-item__variant">{{ item.variant.title }}</p>
      {%- endif -%}
      
      <div class="cart-item__price">
        {%- if item.original_price != item.final_price -%}
          <span class="cart-item__price-regular">{{ item.original_price | money }}</span>
          <span class="cart-item__price-sale">{{ item.final_price | money }}</span>
        {%- else -%}
          <span>{{ item.original_price | money }}</span>
        {%- endif -%}
      </div>
    </div>
    
    <div class="cart-item__actions">
      {% render 'component_quantity-selector',
      id: 'CartDrawer-Quantity-' | append: item.key,
      min: 1,
      value: item.quantity,
      cart_item: item,
      name: 'updates[' | append: item.key | append: ']'
    %}
      
      <cart-remove-button class="cart-item__remove" data-item-key="{{ item.key }}">
        <button type="button" aria-label="{{ 'cart.remove_item' | t: product: item.product.title }}">
          {{ 'cart.remove' | t }}
        </button>
      </cart-remove-button>
    </div>
  </div>
</div>